.cke_button:hover{
	cursor: pointer;
}

#backButton{
	float: left;
	margin-left: 20px;
}

#cke_textEditor{
	clear: both;
	margin: 20px;
}

.form-control{
	display: inline-block;
	width: 100%;
}
.form-group{
	margin-bottom:0px;
}

.formRow {
	margin: 5px 0px 10px;
	clear: both;
}

#metaContent{
	margin: auto;
	clear: both;
	width: 50%;
}

.rightDiv{
	float: right;
	text-align: left;
	min-width: 300px;
}
.leftDiv{
	float: left;
	text-align: left;
}

.tagList{
	border: 1px solid #DDDDDD;
	border-radius: 7px;
	padding: 10px;
	margin-top: 5px;
	max-height: 140px;
	overflow: auto;
}

.list-group{
	margin-bottom: 0;
}

#editButton{
	margin-right: 20px;
	float: right;
}

#deleteButton{
	margin-right: 10px;
	float: right;
}

.bodyContainer{
	text-align: left;
	margin: auto;
	width: 784px;
	margin-top: 50px;
}

.newsBody{
	border: 1px solid #DDDDDD;
	border-radius: 7px;
	padding: 10px;
}