/*override classi bootstrap*/
.form-control{
	width: auto;
}

.form-control.ng-invalid.ng-invalid-required:focus{
	border-color: #e9322d;
	-webkit-box-shadow: 0 0 6px #f8b9b7;
	-moz-box-shadow: 0 0 6px #f8b9b7;
	box-shadow: 0 0 6px #f8b9b7;
}

/*table override*/

.table tr td.btnCell{
	width: 1px;
}

.table th{
	background-color: #444 !important;
	color: white;
}

.table.table-hover tr:hover td{
	background-color: #CFFFFF;
	cursor: default;
}

.table-striped>tbody>tr:nth-child(odd)>td{
	background-color: #F8F8F8;	
}
/*end override*/
/*fine override*/

body * {
	font-family: 'Oxygen', sans-serif;
}

.errorMessage{
	color:red;
}

/*testata generale*/
.generalHeader .navbar-header{
	position:absolute;
	float: none;
}

.generalHeader .navbar-collapse{
	padding: 0px;
	text-align: center;
}

.generalHeader .navbar-nav{
	float: none;
}


.generalHeader .navbar-nav li{
	float: none;
	display: inline-block;
}

#mainContainer{
	text-align: center;
}

.serviceMessage{
	font-size: 22pt;
	text-align: center;
	clear: both;
	color: gray;
	font-weight: bold;
	font-family: arial;
}