/*override classi bootstrap*/
.form-control{
	width: auto;
}

.form-control.ng-invalid.ng-invalid-required:focus{
	border-color: #e9322d;
	-webkit-box-shadow: 0 0 6px #f8b9b7;
	-moz-box-shadow: 0 0 6px #f8b9b7;
	box-shadow: 0 0 6px #f8b9b7;
}
/*fine override*/


.errorMessage{
	color:red;
}

/*testata generale*/
.generalHeader .navbar-nav{
	margin-left: 50px;
}

