
#backButton{
	float: left;	
}


.filterRow{
	float: right;
	margin-bottom: 30px;
}

#searchField{
	display: inline;
	width: 300px;
}

.buttonCell{
	width: 1px;
}

table{
	border-bottom: 1px solid black;
}

.orderable{
	cursor: pointer;
}

.orderVersus{
	float: right;
}

.form-control{
	display: inline;
	float: right;
	width: 300px;
}

.addTagButton{
	float: left;
}

.formRow{
	width: 400px;
	height: 35px;
	line-height: 35px;
	margin: 0px auto 10px;
}

.saveButton{
	float: right;
}